body {
    background-image: url(../img/paisajeinicio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body, html {
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100vw;
    display: initial;
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.paginas:hover {
    text-align: right;
    font-size: 16px;
    padding: 0px 40px;
    transform: scale(1.1) ;
    transition: transform 0.7s ease;
}

.paginas a {
   margin-left: 10px;
   padding-left: 10px;
   color: white;
   text-decoration: none;
   border-left: 1px solid white;
   
}

a:visited {
    color: white;
 }

.subtitulo {
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
}

.informacion {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 60px 0px;

}

.reiki .logo-reiki:hover{
    transform: scale(1.1) ;
    transition: transform 0.7s ease;
}

.filosofia .manos-reiki:hover{
    transform: scale(1.1) ;
    transition: transform 0.7s ease;
}
.reiki {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}
.filosofia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
}
.p1 {
    text-align:center;
    font-size: 25px;
    
}
.p2 {
    font-size: 25px;
 text-align: center;
}

@media screen and (max-width: 760px) {
    .informacion {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .reiki {
        width: 100%;
    }
    .reiki img {
        width: 500px;
    }
    .filosofia {
        width: 100%;
    }
    .paginas {
        text-align: center;
    }
}
    
