$color1:white;
$color2:black;
$color3:rgb(83, 125, 240);

body {
    background-image: url(../img/escaleras.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

body,
html {
    margin: 0px;
}


.contact {
    color: $color1;
    text-align: center;
    margin-left: 50px;
    text-decoration: underline;
    font-size-adjust: 20px;

}

.paginas {
    text-align: right;
    font-size: 16px;
    margin-top: 50px;
    padding: 0px 40px;
}

.paginas a {
    margin-left: 10px;
    padding-left: 10px;
    color: $color1;
    text-decoration: none;
    border-left: 1px solid $color1;

}

a:visited {
    color: $color1;

}

.formul {
    color: $color1;
}

.contenedor-formulario {
    margin: auto;
    margin-top: 30px;
    padding: 30px;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.grupo-input input {
    box-shadow: 5px 4px 4px $color2;
    padding: 10px;
    border-radius: 3px;
    border: none;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

label {
    color: $color1;
    padding-right: 50px;
}

.contenedor-mapa {
    overflow: hidden;
    padding-bottom: 40.25%;
    position: relative;
    height: 0;
}

.contenedor-mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.boton-formulario:hover {
    background-color:$color3;
}

@media screen and (max-width: 770px) {
    .paginas {
        text-align: center;
    }

}